body{
    margin: 0px;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 240px;
    background-color: #1a3f08;
    color: white;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.font-5{font-size: 5pt}
.font-6{font-size: 6pt}
.font-7{font-size: 7pt}
.font-8{font-size: 8pt}
.font-9{font-size: 9pt}
.font-10{font-size: 10pt}
.font-11{font-size: 11pt}
.font-12{font-size: 12pt}
.font-13{font-size: 13pt}
.font-14{font-size: 14pt}
.font-15{font-size: 15pt}
.font-16{font-size: 16pt}
.font-17{font-size: 17pt}
.font-18{font-size: 18pt}
.font-19{font-size: 19pt}
.font-20{font-size: 20pt}

.push{
    margin: 16px;
}
.push-top{
    margin-top: 16px;
}
.push-bottom{
    margin-bottom: 16px;
}
.push-left{
    margin-left: 16px;
}
.push-right{
    margin-right: 16px;
}
.pad{
    padding: 16px;
}
.pad-top{
    padding-top: 16px;
}
.pad-bottom{
    padding-bottom: 16px;
}
.pad-left{
    padding-left: 16px;
}
.pad-right{
    padding-right: 16px;
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.bgc-grey-50{ background-color: #e0e0e0; }
.bgc-grey-100{ background-color: #b3b3b3; }
.bgc-grey-200{ background-color: #808080; }
.bgc-grey-300{ background-color: #4d4d4d; }
.bgc-grey-400{ background-color: #262626; }
.bgc-grey-500{ background-color: #000000; }
.bgc-grey-600{ background-color: #000000; }
.bgc-grey-700{ background-color: #000000; }
.bgc-grey-800{ background-color: #000000; }
.bgc-grey-900{ background-color: #000000; }
.bgc-grey-A100{ background-color: #a6a6a6; }
.bgc-grey-A200{ background-color: #8c8c8c; }
.bgc-grey-A400{ background-color: #737373; }
.bgc-grey-A700{ background-color: #666666; }

.tc-grey-50{ color: #e0e0e0; }
.tc-grey-100{ color: #b3b3b3; }
.tc-grey-200{ color: #808080; }
.tc-grey-300{ color: #4d4d4d; }
.tc-grey-400{ color: #262626; }
.tc-grey-500{ color: #000000; }
.tc-grey-600{ color: #000000; }
.tc-grey-700{ color: #000000; }
.tc-grey-800{ color: #000000; }
.tc-grey-900{ color: #000000; }
.tc-grey-A100{ color: #a6a6a6; }
.tc-grey-A200{ color: #8c8c8c; }
.tc-grey-A400{ color: #737373; }
.tc-grey-A700{ color: #666666; }

.loading{
    position: absolute;
}